.franchiseeBanner {
  .breadcrumb {
    li {
      color: #fff;
      font-size: 18px;
      a {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        color: inherit;
        &:hover {
          color:#c9ab81;
        }
      }
      &:before {
        color:#c9ab81 ;
        padding:0 12px;
      }
    }
  }
}
.franchiseeForm {
  padding:50px 0;
  width:80%;
  margin:auto;
  .FranchiseTxt {
    width: 68%;
    margin: auto;
  }
}
/*Form CSS*/
form{
  input, textarea, select {
    position: relative;
    width: 100%;
    margin: 0 0 28px;
    padding: 11px 23px 11px !important;
    font-family: inherit;
    font-size: 19px;
    font-weight: inherit;
    line-height:26px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #715b3e;
    border-radius: 0;
    outline: 0;
    cursor: pointer;
    -webkit-appearance: none;
    box-sizing: border-box;
    -webkit-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out;
  }
  textarea {
    min-height: 200px !important;
  }

  .submitBtn{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    margin: 0;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 14px;
    line-height: 2em;
    font-weight: 300;
    letter-spacing: .36em;
    text-transform: uppercase;
    outline: 0;
    box-sizing: border-box;
    -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
    transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
    padding: 9px 39px;
    cursor: pointer;
    background: transparent;
    border:1px solid #c9ab81;
    color: #fff;
  }


}
@media(max-width: 1024px){
  .franchiseeBanner {
    padding:0 15px;
  }
  .franchiseeForm {
    width: 100%;
  .container-lg{
    padding:0 15px;
  }
    .FranchiseTxt {
      width: 100%;
    }
  }
}
@media(max-width: 575px){
  .franchiseeBanner {
    text-align: center;
    padding:30px 0;
    .breadcrumb {
      justify-content: center !important;
      padding-top: 20px;
    }
  }
  .franchiseeForm {
   padding: 30px 0;
  }
}