<section class="franchiseeBanner pt-lg-4 pb-md-3 pb-lg-4 pb-md-3">
    <div class="container-xxl">
        <div class="franchiseeBreadcrumbSec">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="frTitle">
                        <h5 class="m-0">Franchisee</h5>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <nav style="--bs-breadcrumb-divider: '>>';" aria-label="breadcrumb">
                        <ol class="breadcrumb m-0 justify-content-end">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Franchisee</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div><!--franchiseeBreadcrumbSec-->
    </div>
</section>
<section class="franchiseeForm">
    <div class="container-xxl">
        <div class="franchiseeTitle text-center">
            <span class="mainTitle_subtitle m-0">HYDERABADI ZAIQA</span>
            <div class="MainTitle">
                <div class="decor">
                    <svg height="9.146" width="41.125" xmlns="http://www.w3.org/2000/svg">
                        <path d="M40.881 8.576L20.562.591.244 8.576" fill="none" stroke="#9C7C57" stroke-miterlimit="10"></path>
                        <path d="M40.881.591L20.562 8.576.243.591" fill="none" stroke="#9C7C57" stroke-miterlimit="10"></path>
                    </svg>
                </div>
                <h2 class="mainTitleCommon mt-2">OUR CHEFS</h2>
                <div class="decor">
                    <svg height="9.146" width="41.125" xmlns="http://www.w3.org/2000/svg">
                        <path d="M40.881 8.576L20.562.591.244 8.576" fill="none" stroke="#9C7C57" stroke-miterlimit="10"></path>
                        <path d="M40.881.591L20.562 8.576.243.591" fill="none" stroke="#9C7C57" stroke-miterlimit="10"></path>
                    </svg>
                </div>
            </div><!--MainTitle-->
            <div class="FranchiseTxt">
                <p>Ignite your entrepreneurial spirit and embark on a flavourful journey by joining our franchise expansion of Hyderabadi Zaida, where the essence of Indian cuisine awaits eager minds and palates	</p>
            </div>
        </div>
        <form class="franchiseeForm">
            <div class="row">
                <div class="col-12 mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="">
                </div>
                <div class="col-12 mb-3">
                    <label for="yourEmail" class="form-label">Your email</label>
                    <input type="email" class="form-control" id="yourEmail" placeholder="">
                </div>
                <div class="col-12 mb-3">
                    <label for="phoneNo" class="form-label">Phone No.</label>
                    <input type="text" class="form-control" id="phoneNo" placeholder="">
                </div>
                <div class="col-12 mb-3">
                    <label for="personName" class="form-label">Contact Person Name</label>
                    <input type="text" class="form-control" id="personName" placeholder="">
                </div>
                <div class="col-12 mb-3">
                    <label for="location" class="form-label">Location</label>
                    <select class="form-select form-control" id="location" aria-label="Default select example">
                        <option selected>Select Store Location</option>
                        <option value="Store 1">Store 1</option>
                        <option value="Store 2">Store 1</option>
                        <option value="Store 3">Store 3</option>
                    </select>
                </div>
                <div class="col-12 mb-3">
                    <label for="EstimatedBudget" class="form-label">Estimated Budget</label>
                    <input type="text" class="form-control" id="EstimatedBudget" placeholder="">
                </div>
                <div class="col-12">
                    <label for="yourMessage" class="form-label">Your message (optional)</label>
                    <textarea cols="40" rows="10" class="form-control" id="yourMessage" placeholder=""></textarea>
                </div>
                <div class="col-12 text-center">
                    <button type="submit" class="submitBtn">Submit</button>
                </div>
            </div><!--row-->
        </form>

    </div>
</section>