.innerBanner {
  position: relative;
  .innerBanner_title {
    position: absolute;
    left: 0;
    right: 0;
    top:50%;
    transform: translateY(-50%);
    width: 100%;
  }
  .bannerTitleDecor {
    color: #9c7c57;
    display: inline-block;
    vertical-align: middle;
    width: auto;
  }
  h1 {
    width: auto;
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
  }
}



