<section class="innerBanner bgImage text-center" style="height: 530px; background:url('/assets/images/inner_banner.jpg');">
    <div class="container-xxl">
        <div class="innerBanner_title">
            <div class="bannerTitleDecor">
                <svg height="9.146" width="41.125" xmlns="http://www.w3.org/2000/svg">
                    <path d="M40.881 8.576L20.562.591.244 8.576" fill="none" stroke="#9C7C57" stroke-miterlimit="10"></path>
                    <path d="M40.881.591L20.562 8.576.243.591" fill="none" stroke="#9C7C57" stroke-miterlimit="10"></path>
                </svg>
            </div>
            <h1>Meet The Chef</h1>
            <div class="bannerTitleDecor">
                <svg height="9.146" width="41.125" xmlns="http://www.w3.org/2000/svg">
                    <path d="M40.881 8.576L20.562.591.244 8.576" fill="none" stroke="#9C7C57" stroke-miterlimit="10"></path>
                    <path d="M40.881.591L20.562 8.576.243.591" fill="none" stroke="#9C7C57" stroke-miterlimit="10"></path>
                </svg>
            </div>
        </div>
    </div>
</section>
<section class="meetMenuSec text-center pt-lg-5 pb-lg-5 pt-sm-3 pb-sm-3">
    <div class="container-xxl">
        <div class="meetMenuRow">
            <div class="row">
                <div class="col-sm-12">
                    <span class="about_subtitle">Meet our chef</span>
                </div>
                <div class="col-sm-12">
                    <div class="MainTitle">
                        <div class="decor">
                            <svg height="9.146" width="41.125" xmlns="http://www.w3.org/2000/svg">
                                <path d="M40.881 8.576L20.562.591.244 8.576" fill="none" stroke="#9C7C57" stroke-miterlimit="10"></path>
                                <path d="M40.881.591L20.562 8.576.243.591" fill="none" stroke="#9C7C57" stroke-miterlimit="10"></path>
                            </svg>
                        </div>
                        <h2 class="eltdf-st-title">Mohammad Tarique Khan</h2>
                        <div class="decor">
                            <svg height="9.146" width="41.125" xmlns="http://www.w3.org/2000/svg">
                                <path d="M40.881 8.576L20.562.591.244 8.576" fill="none" stroke="#9C7C57" stroke-miterlimit="10"></path>
                                <path d="M40.881.591L20.562 8.576.243.591" fill="none" stroke="#9C7C57" stroke-miterlimit="10"></path>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="ourMenu_txt">
                        <p>Chef Mohammad Tarique Khan, an esteemed culinary maestro, shines brightly in the realm of Indian epicurean artistry, particularly as a beacon of Hyderabadi flavours. Hailing from Rourkela, Odisha, his journey unveils a fervent ardour for the culinary craft.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="chefContent">
                        <p>With an unwavering commitment to excellence, Chef Tarique Khan masterfully immersed himself in the intricacies of Hyderabadi cuisine. As the driving force behind the distinguished establishment, Hyderabadi Zaiqa, he has artfully crafted a menu that pays homage to Hyderabad’s opulent culinary heritage. By seamlessly blending tradition with innovation, he deftly harmonizes timeless techniques with contemporary influences, delivering unparalleled sensory symphonies. Chef Tarique Khan’s consummate expertise transcends boundaries, elevating vegetarian, and non-vegetarian delicacies alike, while meticulously preserving the essence of Hyderabad’s esteemed epicurean legacy. Through his impassioned pursuits, he perpetuates the allure of Hyderabadi cuisine, captivating palates and inspiring an emerging generation of food enthusiasts</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="chefImage">
                        <img src="https://hyderabadizaiqa.com/wp-content/uploads/2023/06/Mohammad-tarique-K.png" alt="" title="" width="300"
                             height="300">
                    </div>
                </div>
            </div><!--row-->
        </div><!--meetMenuRow-->
        <div class="meetMenuRow pt-lg-5 pt-sm-3 pb-lg-5 pb-sm-3">
            <div class="row">
                <div class="col-sm-12">
                    <span class="about_subtitle">Meet our chef</span>
                </div>
                <div class="col-sm-12">
                    <div class="MainTitle">
                        <div class="decor">
                            <svg height="9.146" width="41.125" xmlns="http://www.w3.org/2000/svg">
                                <path d="M40.881 8.576L20.562.591.244 8.576" fill="none" stroke="#9C7C57" stroke-miterlimit="10"></path>
                                <path d="M40.881.591L20.562 8.576.243.591" fill="none" stroke="#9C7C57" stroke-miterlimit="10"></path>
                            </svg>
                        </div>
                        <h2 class="eltdf-st-title">JAYESH NAIK</h2>
                        <div class="decor">
                            <svg height="9.146" width="41.125" xmlns="http://www.w3.org/2000/svg">
                                <path d="M40.881 8.576L20.562.591.244 8.576" fill="none" stroke="#9C7C57" stroke-miterlimit="10"></path>
                                <path d="M40.881.591L20.562 8.576.243.591" fill="none" stroke="#9C7C57" stroke-miterlimit="10"></path>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="ourMenu_txt">
                        <p>Chef Jayesh Naik, a prodigious culinary virtuoso hailing from Mumbai, Maharashtra, has made an indelible mark on India's epicurean landscape.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="ourMenu_txt">
                        <p>With a passion for inventive traditional Indian cuisine
                            deeply rooted in his cultural heritage, Naik is renowned for his creative approach. Having trained
                            extensively in diverse regional cuisines across the country, he effortlessly blends time-honoured
                            cooking techniques with contemporary methods, showcasing the abundance of local, seasonal
                            ingredients. Recognized for his culinary artistry and unwavering commitment to excellence, Naik’s
                            innovative prowess has earned him esteemed accolades. Moreover, as a revered mentor and
                            educator, he generously imparts his knowledge to aspiring chefs and gastronomes, solidifying his
                            status as an influential figure. Embodying India’s gastronomic heritage while embracing progressive
                            trends, Naik captivates palates with his remarkable gastronomic creations, transcending boundaries
                            and delighting food enthusiasts.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="chefImage">
                        <img src="https://hyderabadizaiqa.com/wp-content/uploads/2023/06/Jayesh-Naik-2.png" alt="" title="" width="400"
                             height="500">
                    </div>
                </div>
            </div><!--row-->
        </div><!--meetMenuRow-->
    </div>
</section>
