header {
  position: relative;
  z-index: 999;
  border-bottom: 1px solid #715b3e;

  .header_top {
    background: #2c2c2c;
    padding: 10px 0;
    vertical-align: middle;

    & p {
      margin: 0;
      padding: 0;
      color: #fff;

      & a {
        color: #fff;

        &:hover {
          color: #9a7c53;
        }
      }
    }

    .header-menu {
      & a {
        position: relative;
        display: inline-block;
        width: 100%;
        vertical-align: top;
        padding: 0 27px;
        font-family: "Open Sans Condensed", sans-serif;
        font-size: 14px;
        line-height: 23px;
        text-transform: uppercase;
        box-sizing: border-box;
        letter-spacing: 1px;
        font-weight: 600;

        &:before, &:after {
          content: '';
          display: block;
          position: absolute;
          left: -.1em;
          bottom: -.7em;
          width: 100%;
          height: 1px;
          border-top: 1px solid #c9ab81;
          -webkit-transform: scale(0, 1);
          -ms-transform: scale(0, 1);
          transform: scale(0, 1);
          -webkit-transform-origin: 0 50%;
          -ms-transform-origin: 0 50%;
          transform-origin: 0 50%;
          -webkit-transition: -webkit-transform .4s cubic-bezier(.48, .57, .33, .89) .1s;
          transition: -webkit-transform .4s cubic-bezier(.48, .57, .33, .89) .1s;
          transition: transform .4s cubic-bezier(.48, .57, .33, .89) .1s;
          transition: transform .4s cubic-bezier(.48, .57, .33, .89) .1s, -webkit-transform .4s cubic-bezier(.48, .57, .33, .89) .1s;
        }

        &:before {
          padding-bottom: 4px;
          -webkit-transition: -webkit-transform .4s cubic-bezier(.48, .57, .33, .89);
          transition: -webkit-transform .4s cubic-bezier(.48, .57, .33, .89);
          transition: transform .4s cubic-bezier(.48, .57, .33, .89);
          transition: transform .4s cubic-bezier(.48, .57, .33, .89), -webkit-transform .4s cubic-bezier(.48, .57, .33, .89);
        }

        &:hover:before, &:hover:after {
          webkit-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
          transform: scale(1, 1);
        }
      }
    }

    .header_social_icon {
      a {
        display: inline-block;
        margin-left: 10px;
        color: #c9ab81;
        vertical-align: middle;
        text-align: center;

        :hover {
          color: #9a7c53;
        }
      }
    }
  }

  .navbar {
    position: relative;
    z-index: 999;
    background-color: transparent !important;

    .navbar-nav {
      .nav-link {
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        font-family: 'Open Sans Condensed', sans-serif;
        margin: 0 27px;
        letter-spacing: 1px;
        position: relative;
        padding: 0;

        &:before, &:after {
          content: "";
          display: block;
          position: absolute;
          left: -.1em;
          bottom: 0;
          width: 0;
          height: 1px;
          border-top: 1px solid #c9ab81;
          transition: all ease-in-out .4s

        }

        &:after {
          bottom: -.3em;
          transition: all ease-in-out .6s
        }

        &:last-child {
          margin-right: 0;
        }

        &:hover:before, &:hover:after {

          width: 100%;

        }
      }
    }
  }

  .navbar-brand {
    img {
      width: 130px;
    }
  }
}



/*Responsive*/
@media(max-width: 1200px) {
  header {
    .navbar {
      .navbar-nav {
        .nav-link {
          margin: 0 18px
        }
      }
    }
  }
}

@media(max-width: 1024px) {

  header {
    .navbar-brand {
      img {
        width: 80px;
      }
    }
  }
}

