.about_banner {
  position: relative;

  .innerBanner_title {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  .bannerTitleDecor {
    color: #9c7c57;
    display: inline-block;
    vertical-align: middle;
    width: auto;
  }

  h1 {
    width: auto;
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
  }

}

.about_content_sec {
  p {
    padding-bottom: 40px;
  }

  .decor {
    color: #c9ab81;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: auto;
  }
}

.AboutChefTwoColSec {
  .singlePatternAnimation {
    padding: 0 58px;
  }

  .AbChefTitle {
    h5 {
      font-size: 19px;
      line-height: 1.52em;
    }
  }
}
.testimonialSec {
  .quote {
    margin:40px 0 50px;
  }

  .testimonialSlider {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 60px;

    .carousel-caption {
      position: relative;
      bottom: auto;
      right: 0;
      left: 0;
      padding: 10px 0;

      h5{
        margin: 0 0 10px;
      }
    }

    .picsum-img-wrapper {
      p {
        font-family: Miniver, sans-serif;
      }
    }
  }
}

/*Responsive*/
@media(max-width: 1024px){
  .about_content_sec > div {
    padding:0 70px;
  }
  .about_banner {
    height: auto !important;
    padding: 70px 0;
    .innerBanner_title {
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      transform: none;
    }
  }
  .about_content_sec {
    padding: 30px 0;
  }
  .about_content_sec > div{
    padding:0 15px;
  }
  .aboutThreeColContentSec {
    text-align: center;
    .about_logo {
      margin-bottom: 30px;
    }
    .singlePatternAnimation {
      margin-top: 30px;
    }
  }
  .AboutChefTwoColSec {
    text-align: center;
  }
  .testimonialSec {
    .testimonialSlider {
      width: 100%;
    }
  }
}

@media(max-width: 767px){
  .innerBanner {
    padding:50px 0;
  }
}