<section class="gallerySec ptb-80">
    <div class="container-xxl container-lg">
        <div class="PhotoGalleryTitle text-center pt-lg-5 pt-md-4 pb-lg-5 pb-md-4">
            <div class="MainTitle">
                <div class="decor">
                    <svg height="9.146" width="41.125" xmlns="http://www.w3.org/2000/svg">
                        <path d="M40.881 8.576L20.562.591.244 8.576" fill="none" stroke="#9C7C57" stroke-miterlimit="10"></path>
                        <path d="M40.881.591L20.562 8.576.243.591" fill="none" stroke="#9C7C57" stroke-miterlimit="10"></path>
                    </svg>
                </div>
                <h2 class="eltdf-st-title">GALLERY</h2>
                <div class="decor">
                    <svg height="9.146" width="41.125" xmlns="http://www.w3.org/2000/svg">
                        <path d="M40.881 8.576L20.562.591.244 8.576" fill="none" stroke="#9C7C57" stroke-miterlimit="10"></path>
                        <path d="M40.881.591L20.562 8.576.243.591" fill="none" stroke="#9C7C57" stroke-miterlimit="10"></path>
                    </svg>
                </div>
            </div><!--MainTitle-->
            <div class="TitleImg">
                <img src="assets/images/floral_w.png" alt="" class="img-fluid">
            </div>
        </div><!--abTestimonialTitle-->
        <div class="photoGallerySec mt-lg-5 mt-sm-3">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let img of galleryImages" (click)="open(content)">
                    <div class="photoGallery mb-lg-4 mb-4 slideInDown">
                        <div class="GalleryImg ">
                            <img [src]="img.imageSource" alt="" title="" class="img-fluid">
                        </div>
                        <button class="imgBtn">
                            <img src="assets/images/image-hover.svg" alt="" title="" class="img-fluid">
                        </button>
                    </div><!--photoGallery-->
                </div>
            </div>
            <ng-template #content let-modal>
                <div class="modal-body">
                    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                    @if (galleryImages) {
                        <ngb-carousel>
                            <ng-template ngbSlide *ngFor="let img of galleryImages">

                                <div class="picsum-img-wrapper w-60">
                                    <img [src]="img.imageSource" alt="Random first slide" style="width: 550px; height: 550px;" />
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    }
                </div>

            </ng-template>

        </div><!--photoGallerySec-->
    </div><!--container-xxl-->
</section>