.HomepageBanner {
  position: relative;
  top: -140px;
  width: 100%;
  left: 0;

  .carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: auto;
  }

  .SubTitle {
    font-family: "Miniver", cursive;
    color: #c9ab81;
    font-size: 25px;
    line-height: 30px;
  }

  p {
    font-family: "Josefin Sans", sans-serif;
    font-size: 23px;
    line-height: 33px;
  }
}

.whatWeServeSection {
  .weServeLeftBox {
    width: 82%;
    margin: 0 auto;

    .menuContentTitle {
      width: 50%;
      margin: auto;
    }
  }

  .animationSideImage {
    width: 75%;
  }
}

.hMenuSection {
  .menuRow {
    margin-top: 50px;
  }
}

.hMenuPriceBx {
  .hMenuTitlePrice {
    h6 {
      display: inline-block;
      vertical-align: middle;
      width: auto;
    }

    .hPriceLine {
      display: inline-block;
      vertical-align: middle;
      width: 30%;
      border-bottom: 1px solid #715b3e;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        bottom: 5px;
        width: 100%;
        border-bottom: 1px solid #715b3e;
      }
    }

    .hMenuPrice {
      font-family: caviar_dreamsbold, sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      -ms-word-wrap: break-word;
      word-wrap: break-word;
      color: #c9ab81;
      font-size: 19px;
      line-height: 1.52em;
      letter-spacing: .03em;
      margin: 0;
      padding-left: 15px;
      display: inline-block;
      vertical-align: middle;
      width: 1%;
      white-space: nowrap;
    }
  }

  .hMenuTxt {
    p {
      font-size: 19px;
      line-height: 25px;
      text-transform: lowercase;
    }
  }
}

.hFranchiseExpansion {

  .row {
    div {
      padding: 30px 0;
      text-align: center;
      .hFranchiseImg {
        img {
          width: 70%;
        }
      }
      .imgTagline {
         color:#c9ab81;
        font-size: 19px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: .04em;
      }
      .hFranchiseTxt {
        padding-top: 0;
      }
    }
  }

}

.storyLogo {
  width: 258px;
  position: relative;

  .play_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    text-align: center;
    transform: translate(-50%, -50%);
    background: transparent;
    border: none;

    svg {
      color: #c9ab81;
    }
  }
}