<section class="contact_banner text-center" style="background-color: rgb(12, 19, 21);" >
  <div class="container-xxl">
    <div class="contact_banner_title">
      <div class="eltdf-title-decor">
        <svg xmlns="http://www.w3.org/2000/svg" width="41.125" height="9.146">
          <path fill="none" stroke="#9C7C57" stroke-miterlimit="10" d="M40.881 8.576L20.562.591.244 8.576"></path>
          <path fill="none" stroke="#9C7C57" stroke-miterlimit="10" d="M40.881.591L20.562 8.576.243.591"></path>
        </svg>
      </div>
      <h1>Contact Us</h1>
      <div class="eltdf-title-decor">
        <svg xmlns="http://www.w3.org/2000/svg" width="41.125" height="9.146">
          <path fill="none" stroke="#9C7C57" stroke-miterlimit="10" d="M40.881 8.576L20.562.591.244 8.576"></path>
          <path fill="none" stroke="#9C7C57" stroke-miterlimit="10" d="M40.881.591L20.562 8.576.243.591"></path>
        </svg>
      </div>
    </div>
  </div>
</section>
<section class="contact_twoCol_sec bg_black">
  <div class="container-xxl">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="contact_formSec">
          <div class="eltdf-section-title-holder">
            <span class="eltdf-st-tagline"> Write to us </span>
            <div class="eltdf-st-title-holder">
              <div class="decor"><svg xmlns="http://www.w3.org/2000/svg" width="41.125" height="9.146">
                <path fill="none" stroke="#9C7C57" stroke-miterlimit="10" d="M40.881 8.576L20.562.591.244 8.576"></path>
                <path fill="none" stroke="#9C7C57" stroke-miterlimit="10" d="M40.881.591L20.562 8.576.243.591"></path>
              </svg></div>
              <h2 class="eltdf-st-title mt-0">CONTACT US</h2>
              <div class="decor"><svg xmlns="http://www.w3.org/2000/svg" width="41.125" height="9.146">
                <path fill="none" stroke="#9C7C57" stroke-miterlimit="10" d="M40.881 8.576L20.562.591.244 8.576"></path>
                <path fill="none" stroke="#9C7C57" stroke-miterlimit="10" d="M40.881.591L20.562 8.576.243.591"></path>
              </svg>
              </div>
            </div>
          </div>
          <form class="contact_form">
            <div class="row">
              <div class="form-floating mb-3 col-12">
                  <input type="email" class="form-control" placeholder="Name">
              </div>
                <div class="form-floating mb-3 col-12">
                  <input type="email" class="form-control" placeholder="E-mail">
                </div>
                <div class="form-floating">
                  <textarea cols="40" rows="10" class="form-control" placeholder="Leave a comment here"></textarea>
                </div>
              <div class="col-12 text-center">
                <button type="submit" class="submitBtn">Send</button>
              </div>

            </div><!--row-->
          </form>
        </div><!--contact-form-->
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="contact_locationSec">
          <div class="eltdf-section-title-holder">
            <span class="eltdf-st-tagline"> Write to us </span>
            <div class="eltdf-st-title-holder">
              <div class="decor"><svg xmlns="http://www.w3.org/2000/svg" width="41.125" height="9.146">
                <path fill="none" stroke="#9C7C57" stroke-miterlimit="10" d="M40.881 8.576L20.562.591.244 8.576"></path>
                <path fill="none" stroke="#9C7C57" stroke-miterlimit="10" d="M40.881.591L20.562 8.576.243.591"></path>
              </svg></div>
              <h2 class="eltdf-st-title mt-0">CONTACT US</h2>
              <div class="decor"><svg xmlns="http://www.w3.org/2000/svg" width="41.125" height="9.146">
                <path fill="none" stroke="#9C7C57" stroke-miterlimit="10" d="M40.881 8.576L20.562.591.244 8.576"></path>
                <path fill="none" stroke="#9C7C57" stroke-miterlimit="10" d="M40.881.591L20.562 8.576.243.591"></path>
              </svg>
              </div>
            </div>
          </div>
          <div class="contact_address">
            <h5 class="eltdf-st-title">NEWYORK</h5>
            <ul>
              <li><a href="#." target="_blank"><i class="fa fa-map-marker-alt"></i> 366 W 52 ST STOW 10019</a></li>
              <li><a href="tel: 6469520066"><i class="fa fa-headphones"></i> 6469520066</a></li>
              <li><a href="mailto:hyderabadizaiqa2023@gmail.com"><i class="fa fa-envelope"></i> Hyderabadizaiqa2023&#64;gmail.com</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contactMapSec text-center">
  <div class="container-xxl">
    <h2>Stay connected with us ! </h2>
    <p>( Follow Us On Social Media )</p>
    <ul class="socialContactList">
      <li>
        <a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-repeater-item-93fa0d9" href="https://www.instagram.com/hyderabadizaiqanyc/?igshid=MzRlODBiNWFlZA%3D%3D" target="_blank">
        <span class="elementor-screen-only">Instagram</span>
        <svg class="e-font-icon-svg e-fab-instagram" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">'
          <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z">
          </path>
        </svg>
        </a>
      </li>
      <li>
        <a class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-repeater-item-bb0db31" target="_blank">
          <span class="elementor-screen-only">Facebook</span>
          <svg class="e-font-icon-svg e-fab-facebook" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
            <path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z">
            </path>
          </svg>
        </a>
      </li>
    </ul>
    <div class="google_map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d377.7367163233208!2d-73.987746!3d40.764362!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258573f767ec9%3A0xa80821c783a8ef5a!2s366%20W%2052nd%20St%2C%20New%20York%2C%20NY%2010019%2C%20USA!5e0!3m2!1sen!2sin!4v1687504535171!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>
