<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Miniver&display=swap" rel="stylesheet">
<style>
    /*Font Family Css*/

    @font-face {
        font-family: 'caviar_dreams';
        src: url("/assets/fonts/caviardreams-webfont.woff2") format('woff2'),
        url('/assets/fonts/caviardreams-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

    }


    @font-face {
        font-family: 'caviar_dreams';
        src: url('/assets/fonts/caviardreams_italic-webfont.woff2') format('woff2'),
        url('/assets/fonts/caviardreams_italic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: italic;

    }


    @font-face {
        font-family: 'Open Sans Condensed';
        src: url('/assets/fonts/OpenSans-CondensedLightItalic.woff2') format('woff2'),
        url('/assets/fonts/OpenSans-CondensedLightItalic.woff') format('woff'),
        url('/assets/fonts/OpenSans-CondensedLightItalic.svg#OpenSans-CondensedLightItalic') format('svg');
        font-weight: 300;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: 'Open Sans Condensed';
        src: url('/assets/fonts/OpenSans-CondensedBold.woff2') format('woff2'),
        url('/assets/fonts/OpenSans-CondensedBold.woff') format('woff'),
        url('/assets/fonts/OpenSans-CondensedBold.svg#OpenSans-CondensedBold') format('svg');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }
    /*Font-family css end*/
</style>

<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
