.franchiseeBanner {
  .breadcrumb {
    li {
      color: #fff;
      font-size: 18px;
      a {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        color: inherit;
        &:hover {
          color:#c9ab81;
        }
      }
      &:before {
        color:#c9ab81 ;
        padding:0 12px;
      }
    }
  }
}
.menuContentDetails{
  .menuContentTitle{
    margin-bottom: 50px;
  }
  .menuBox {
    margin-bottom: 50px;
    h5 {
      margin-bottom:15px;
    }
  }
}


/*Responsive css */
@media(max-width: 767px) {
  .franchiseeBanner {
    padding:40px 0;
  }
  .menuContentDetails {
    .menuBox {
      margin-bottom: 30px;
      border-bottom: 1px solid #ccc2a4;
      padding-bottom: 30px;
    }
  }
}
@media(max-width: 575px) {
  .franchiseeBanner {
    text-align: center;
    padding:30px 0;
    .breadcrumb {
     justify-content: center !important;
      padding-top: 20px;
    }
  }
}