/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 19px;
  font-weight: 300;
  line-height: 29px;
  color: #fff;
  letter-spacing: 0;
  text-transform: none;
  background-color: #0b1315;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden !important;
  position: relative;

  &:before, &:after {
    content: '';
    position: absolute;
    left: 110px;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #9a7c53;
    z-index: 999;
  }

  &:after {
    right: 110px;
    left: auto;
  }
}

p {
  margin: 0;
  padding-bottom: 20px;
  line-height: 29px;
  font-size: 19px;

}

a {
  text-decoration-line: none;
}

ul {
  margin: 0;
  padding: 0;

  & li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'caviar_dreams', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #c9ab81;
  margin: 25px 0;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

h1 {
  font-size: 48px;
  line-height: 1.27em;
  letter-spacing: .22em;
}

h2 {
  font-size: 41px;
  line-height: 1.31em;
  letter-spacing: .23em;
}

h5 {
  font-size: 19px;
  line-height: 1.52em;
  letter-spacing: .23em;
}

/*Font Family*/
.miniverFont {
  font-family: "Miniver", cursive;
  font-weight: 400;
  font-style: normal;
}
/*background color */
.bg_black {
  background: #000;
}

.bg_blue {
  background: #0F1D22;
}
/*padding css start*/
.ptb-80 { padding:80px; }
/*padding css end */


/*background image*/
.bgImage {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

/*sub title*/
.mainTitle_subtitle {
  font-family: Miniver, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: .04em;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  color: #c9ab81;
  display: block;
  margin-bottom: 13px;
}
/*banner title decor*/
.innerBanner_title{
  .bannerTitleDecor {
    color: #c9ab81;
    position: relative;
    transform: rotate(180deg);
    svg {
      path{
        stroke-dashoffset: 57;
        stroke-dasharray: 57;
        animation: 1.2s eltdfDrawDecor forwards;
      }
    }

    :first-child {
      left: -30px;
    }

    :last-child {
      right: -20px;
    }
  }
}
@-webkit-keyframes eltdfDrawDecor {
  from {
    stroke-dashoffset: 57;
    stroke-dasharray: 57;
  }
  to {
    stroke-dashoffset: 0;
    stroke-dasharray: 57;
  }
}
@keyframes eltdfDrawDecor {
  from {
    stroke-dashoffset: 57;
    stroke-dasharray: 57;
  }
  to {
    stroke-dashoffset: 0;
    stroke-dasharray: 57;
  }
}

/*title decor design css*/
.MainTitle {
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;

  h2, h1, h4 {
    padding: 0 20px;
  }

  .decor {
    color: #c9ab81;
    position: relative;
    transform: rotate(180deg);
    svg {
      path{
        stroke-dashoffset: 57;
        stroke-dasharray: 57;
        animation: 1.2s eltdfDrawDecor forwards;
      }
    }

    :first-child {
      left: -30px;
    }

    :last-child {
      right: -20px;
    }
  }
}
@-webkit-keyframes eltdfDrawDecor {
  from {
    stroke-dashoffset: 57;
    stroke-dasharray: 57;
  }
  to {
    stroke-dashoffset: 0;
    stroke-dasharray: 57;
  }
}
@keyframes eltdfDrawDecor {
  from {
    stroke-dashoffset: 57;
    stroke-dasharray: 57;
  }
  to {
    stroke-dashoffset: 0;
    stroke-dasharray: 57;
  }
}
/*button css*/
.simpleHoverBtn {
  color: #fff;
  background-color: #c9ab81;
  border: 1px solid #c9ab81;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: .36em;
  text-transform: uppercase;
  outline: 0;
  box-sizing: border-box;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  padding: 9px 39px;
  cursor: pointer;
}

.simpleHoverBtn:hover {
  background: transparent;
}

.doubleLineBtn {
  color: #fff;
  line-height: 2.3em;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .36em;
  text-transform: uppercase;
  outline: 0;
  box-sizing: border-box;
  padding: 9px 0;
  cursor: pointer;

  &:before, &:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    right: auto;
    height: 3px;
    background-color: transparent;
    border-bottom: 1px solid #c9ab81;
    width: 100%;

  }
  &:after{
    bottom:5px;
  }
  &:hover:before {
   bottom: auto;
    top: 0;
    transition: all ease-in-out .4s;
  }
}

.btn-animation {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: .36em;
  text-transform: uppercase;
  outline: 0;
  box-sizing: border-box;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  cursor: pointer;
  padding: 7px 49px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #c9ab81;

  svg {
    position: absolute;
    top: 0;
    width: auto;
    height: 100%;


    polyline:nth-child(3), polyline:nth-child(4) {

      stroke-dashoffset: 57;
      stroke-dasharray: 57;
      animation: out 1s backwards 0s;

    }
  }

  .btnSvg-left {
    left: 0;
  }

  .btnSvg-right {
    right: 0;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  &:hover svg {
    polyline:nth-child(3), polyline:nth-child(4) {
      animation: in 1s forwards 0s;
    }
  }
}

@-webkit-keyframes in {
  0% {
    stroke-dashoffset: 57;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes in {
  0% {
    stroke-dashoffset: 57;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes out {
  100% {
    stroke-dashoffset: 57;
  }
  0% {
    stroke-dashoffset: 0;
  }
}

@keyframes out {
  100% {
    stroke-dashoffset: 57;
  }
  0% {
    stroke-dashoffset: 0;
  }
}


.btn-animationSlant {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: 0.36em;
  text-transform: uppercase;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  padding: 9px 39px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #c9ab81;
  color: #fff;
}

.ButtonStyleTwo {
  color: #fff;
  background-color: transparent;
  border: 1px solid #c9ab81;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: .36em;
  text-transform: uppercase;
  outline: 0;
  box-sizing: border-box;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  padding: 9px 39px;
  cursor: pointer;

  &:before, &:after {
    content: "";
    position: absolute;
    left: 24px;
    margin-top: 0;
    top: 0;
    width: 1px;
    height: 0;
    background: #9a7c53;
    transform: rotate(72deg) scale(1, 0);
    opacity: 0;
    transition: height .4s;
    display: inline-block;
  }

  &:after {
    top: auto;
    margin-bottom: 0;
    left: auto;
    right: 24px;
    bottom: 0;
  }

  &:hover:before, &:hover:after {
    height: 52px;
    transform: rotate(72deg) scale(1, 1);
    opacity: 1;
    top: -18px;

  }

  &:hover:after {
    top: 12px
  }
}


.singlePatternAnimation {
  svg {
    /*path{
      stroke-dashoffset: 770;
      stroke-dasharray: 770;
      -webkit-transition: all 2s ease;
      transition: all 2s ease;
    }*/
    .pageLoadSinglePattern {
      path {
        stroke-dashoffset: 0;
        -webkit-transition: all 2s ease;
        transition: all 2s ease;
      }
    }
  }

}


.imgSlidePopUp > .modal-content > .modal-body {
  padding: 0 !important;
}

.imgSlidePopUp > .modal-content > .modal-body > .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;

  &:focus {
    box-shadow: none;
  }
}
.offcanvas {
  background-color: #0f1d22 !important;
  color: #fff !important;

}
#rightSideBx {
  .menuCloseBtn {
    display: block;
    position: absolute;
    left: 20px;
    top: 10px;
    opacity: 1;
    width: 50px;
    height: 50px;
    z-index: 1000;
    color: #c9ab81;
    padding: 0;
    svg.menu-closer{
      width: 38px;
      height: 38px;
      position: relative;
      right: 8px;
      top: 3px;
      color: #c9ab81;
      line{
        fill: none;
        stroke: currentColor;
        stroke-dashoffset: 0;
        stroke-dasharray: 25;
        -webkit-transition: 0s;
        transition: 0s;
      }
    }

  }
  .footer_logo { margin-bottom: 30px; }
  .footer_top {margin-top: 60px}
  .footer_time {
    margin-bottom: 25px;

    li {
      list-style: none;
      margin-top: 10px;
      color: #fff;
      text-align: center;
      font-family: "Josefin Sans", sans-serif;
      font-size: 19px;
      font-weight: 300;
    }
  }

  .find_us {
    margin-top: 30px;

    & h5 {
      font-family: caviar_dreamsbold, sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      -ms-word-wrap: break-word;
      word-wrap: break-word;
      margin: 0 0 11px;
      color: #c9ab81;
    }

    & p {
      & a {
        color: #fff;
        transition: color .2s ease-out;
        text-align: center;
        text-decoration-line: none;
        display: block;
        width: 100%;
        margin:20px 0;
        border:none;
        ::focus-visible{
          outline:none;
        }

        &:hover {
          color: #c9ab81;
        }
      }
    }
  }

  .footer_follow_us {
    h5 {
      margin: 0 0 11px;
      color: #c9ab81;
    }

    .social_footer_menu {
      li {
        margin: 18px 43px;
        display: inline-block;

        & a {
          position: relative;
          vertical-align: middle;
          padding-bottom: 10px;
          color: #fff;
          text-decoration: none;

          &:before, &:after {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            right: auto;
            height: 3px;
            background-color: transparent;
            border-bottom: 1px solid #c9ab81;
            width: 100%;
            -webkit-transform: scale(0, 1);
            -ms-transform: scale(0, 1);
            transform: scale(0, 1);
            -webkit-transform-origin: 0 50%;
            -ms-transform-origin: 0 50%;
            transform-origin: 0 50%;
            -webkit-transition: -webkit-transform .2s;
            transition: -webkit-transform .2s;
            transition: transform .2s;
            transition: transform .2s, -webkit-transform .2s;
            transition: transform .2s, -webkit-transform .2s;
          }

          &:after {
            -webkit-transform-origin: 100% 50%;
            -ms-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
            -webkit-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            transform: scale(1, 1);
          }

          &hover:before {
            -webkit-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            transform: scale(1, 1);
            -webkit-transition: -webkit-transform .7s cubic-bezier(.48, .57, .33, .89) .3s;
            transition: -webkit-transform .7s cubic-bezier(.48, .57, .33, .89) .3s;
            transition: transform .7s cubic-bezier(.48, .57, .33, .89) .3s;
            transition: transform .7s cubic-bezier(.48, .57, .33, .89) .3s, -webkit-transform .7s cubic-bezier(.48, .57, .33, .89) .3s;
          }

          &hover:after {
            -webkit-transform: scale(0, 1);
            -ms-transform: scale(0, 1);
            transform: scale(0, 1);
            -webkit-transition: -webkit-transform .7s cubic-bezier(.48, .57, .33, .89);
            transition: -webkit-transform .7s cubic-bezier(.48, .57, .33, .89);
            transition: transform .7s cubic-bezier(.48, .57, .33, .89);
            transition: transform .7s cubic-bezier(.48, .57, .33, .89), -webkit-transform .7s cubic-bezier(.48, .57, .33, .89);
          }

          .eltdf-btn-first-line, .eltdf-btn-second-line {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: auto;
            height: 3px;
            background-color: transparent;
            border-top: 1px solid #c9ab81;
            width: 100%;
            -webkit-transform: scale(0, 1);
            -ms-transform: scale(0, 1);
            transform: scale(0, 1);
            -webkit-transform-origin: 0 50%;
            -ms-transform-origin: 0 50%;
            transform-origin: 0 50%;
            -webkit-transition: -webkit-transform .2s;
            transition: -webkit-transform .2s;
            transition: transform .2s;
            transition: transform .2s, -webkit-transform .2s;
          }

          .eltdf-btn-second-line {
            -webkit-transform-origin: 100% 50%;
            -ms-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
            -webkit-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            transform: scale(1, 1);
          }
        }
      }
    }
  }

}
.right_sidebar {
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  height: 100px;

  a.rightSideBtn {
    position: relative;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    z-index: 999;
    opacity: 1;
  }
  svg{
    width: 37px;
    height: 37px;
    color: #c9ab81;
    line{
      fill: none;
      stroke: currentColor;
      -webkit-transition: -webkit-transform .3s ease;
      transition: -webkit-transform .3s ease;
      transition: transform .3s ease;
    }
  }

}

/*Form css*/
input::placeholder, textarea::placeholder{
  color: #fff !important;
}
input:focus, textarea:focus {
 padding-top: 0 !important;
  padding-bottom: 0 !important;
  box-shadow:none !important;
}
/*Responsive*/
@media(max-width: 1540px){
  body:before{
    left:60px
  }
  body:after{
    right: 60px;
  }
}
@media(max-width: 1360px){
  body:before{
    left:30px
  }
  body:after{
    right: 30px;
  }

}
@media(max-width: 1024px){
  body:before{
    left:10px
  }
  body:after{
    right: 10px;
  }
  .navbar-toggler {
    background: #fff;
  }
  p{
    font-size: 16px;
  }
  h1, .h1{
    font-size: 40px;
  }
  h2, .h2{
    font-size:35px;
  }
  .ptb-80 {
    padding:50px 0;
  }
  .right_sidebar a.rightSideBtn {
    display: none;
  }
}
.menuCloseBtn { display: none }

@media(max-width: 991px) {
  .offcanvas {
    background-color: #0f1d22 !important;
    color: #fff !important;
  }
  .menuCloseBtn {
    display: block;
    position: absolute;
    right: 0;
    top: 10px;
    opacity: 1;
    width: 50px;
    height: 50px;
    z-index: 1000;
    color: #c9ab81;
    padding: 0;
    svg.menu-closer{
      width: 38px;
      height: 38px;
      position: relative;
      right: 8px;
      top: 3px;
      color: #c9ab81;
      line{
        fill: none;
        stroke: currentColor;
        stroke-dashoffset: 0;
        stroke-dasharray: 25;
        -webkit-transition: 0s;
        transition: 0s;
      }
      }

  }
  .navbar-nav  {
    margin-top: 150px !important;
  }


}
@media(max-width: 767px){
  body:after{
    right: 10px;
  }
  body:before{
    left: 10px;
  }
  h1, .h1{
    font-size: 35px;
  }
  h2, .h2{
    font-size:30px;
  }
  h3, .h3 {
    font-size: 25px;
  }
  h4, .h4 {
    font-size: 20px;
  }
  h5,.h5{
    font-size: 18px;
  }
  h6,.h6{
    font-size: 15px;
  }
  p,body {
    font-size: 15px;
    line-height: 25px;
  }
  .ptb-80 {
    padding:30px 0;
  }

  header {
    .header_top {
      text-align: center;
      .text-end {
        text-align: center !important;
      }
    }
  }
  .MainTitle {
    display: inline-block;
  }
  .MainTitle h2, .MainTitle .h2, .MainTitle h1, .MainTitle .h1, .MainTitle h4, .MainTitle .h4 {
    padding: 0;
  }
  .MainTitle .decor :last-child {
    right: 0;
  }
  .MainTitle .decor :first-child {
    left:0;
  }


}
@media(max-width: 460px){
  body:after{
    right: 5px;
  }
  body:before{
    left: 5px;
  }
  h1, .h1{
    font-size: 30px;
    margin:15px 0;
  }
  h2, .h2{
    font-size:25px;
    margin:15px 0;
  }
  h3, .h3 {
    font-size: 20px;
    margin:15px 0;
  }
  h4, .h4 {
    font-size: 18px;
    margin:15px 0;
  }
  h5,.h5{
    font-size: 16px;
    margin:15px 0;
  }
  h6,.h6{
    font-size: 14px;
    margin:15px 0;
  }

  .btn-animation {
    font-size: 14px;
    padding:7px 25px
  }
}