/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
/*Font Family Css*/

@font-face {
  font-family: 'caviar_dreams';
  src: url('/assets/fonts/caviardreams-webfont.woff2') format('woff2'),
  url('/assets/fonts/caviardreams-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'caviar_dreamsitalic';
  src: url('/assets/fonts/caviardreams_italic-webfont.woff2') format('woff2'),
  url('/assets/fonts/caviardreams_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/*Font-family css end*/

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 19px;
  font-weight: 300;
  line-height: 29px;
  color: #fff;
  letter-spacing: 0;
  text-transform: none;
  background-color: #0b1315;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden !important;
  position: relative;

  &:before, &:after {
    content: '';
    position: absolute;
    left: 110px;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #9a7c53;
    z-index: 999;
  }

  &:after {
    right: 110px;
    left: auto;
  }
}

p {
  margin: 0;
  padding-bottom: 20px;
  line-height: 29px;
  font-size: 19px;

}

a {
  text-decoration-line: none;
}

ul {
  margin: 0;
  padding: 0;

  & li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'caviar_dreams', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #c9ab81;
  margin: 25px 0;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

h2 {
  font-size: 41px;
  line-height: 1.31em;
  letter-spacing: .23em;
}

h5 {
  font-size: 19px;
  line-height: 1.52em;
  letter-spacing: .23em;
}

/*Font Family*/
.miniverFont {
  font-family: "Miniver", cursive;
  font-weight: 400;
  font-style: normal;
}

/*background color */
.bg_black {
  background: #000;
}

.bg_blue {
  background: #0F1D22;
}

/*background image*/
.bgImage {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

/*sub title*/
.mainTitle_subtitle {
  font-family: Miniver, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: .04em;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  color: #c9ab81;
  display: block;
  margin-bottom: 13px;
}

/*title decor design css*/
.MainTitle {
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;

  h2 {
    padding: 0 20px;
  }

  .decor {
    color: #c9ab81;
    position: relative;

    :first-child {
      left: -30px;
    }

    :last-child {
      right: -20px;
    }
  }
}

/*button css*/
.simpleHoverBtn {
  color: #fff;
  background-color: #c9ab81;
  border: 1px solid #c9ab81;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: .36em;
  text-transform: uppercase;
  outline: 0;
  box-sizing: border-box;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  padding: 9px 39px;
  cursor: pointer;
}

.simpleHoverBtn:hover {
  background: transparent;
}

.doubleLineBtn {
  color: #fff;
  line-height: 2.3em;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .36em;
  text-transform: uppercase;
  outline: 0;
  box-sizing: border-box;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  padding: 9px 39px;
  cursor: pointer;

  &:before, &:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    right: auto;
    height: 3px;
    background-color: transparent;
    border-bottom: 1px solid #c9ab81;
    width: 100%;

    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
  }
}

.btn-animation {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: .36em;
  text-transform: uppercase;
  outline: 0;
  box-sizing: border-box;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  cursor: pointer;
  padding: 7px 49px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #c9ab81;

  svg {
    position: absolute;
    bottom: 0;
    width: auto;
    height: 100%;

    polyline:nth-child(3), polyline:nth-child(4) {
      -webkit-animation: out 1s backwards 0s;
      animation: out 1s backwards 0s;
      @-webkit-keyframes out {
        100% {
          stroke-dashoffset: 57;
        }
        0% {
          stroke-dashoffset: 0;
        }
      }
      @keyframes out {
        100% {
          stroke-dashoffset: 57;
        }
        0% {
          stroke-dashoffset: 0;
        }
      }
    }


  }

  .btnSvg-left {
    left: 0;
  }

  .btnSvg-right {
    right: 0;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  &:hover svg {
    polyline:nth-child(3), polyline:nth-child(4) {
      -webkit-animation: in 1s forwards 0s;
      animation: in 1s forwards 0s;
    }

    @-webkit-keyframes in {
      0% {
        stroke-dashoffset: 57;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }
    @keyframes in {
      0% {
        stroke-dashoffset: 57;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }
  }
}

.btn-animationSlant {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: 0.36em;
  text-transform: uppercase;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  padding: 9px 39px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #c9ab81;
  color: #fff;
}

.ButtonStyleTwo {
  color: #fff;
  background-color: transparent;
  border: 1px solid #c9ab81;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: .36em;
  text-transform: uppercase;
  outline: 0;
  box-sizing: border-box;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  padding: 9px 39px;
  cursor: pointer;

  &:before, &:after {
    content: "";
    position: absolute;
    left: 24px;
    margin-top: 0;
    top: 0;
    width: 1px;
    height: 0;
    background: #9a7c53;
    transform: rotate(72deg) scale(1, 0);
    opacity: 0;
    transition: height .4s;
    display: inline-block;
  }

  &:after {
    top: auto;
    margin-bottom: 0;
    left: auto;
    right: 24px;
    bottom: 0;
  }

  &:hover:before, &:hover:after {
    height: 52px;
    transform: rotate(72deg) scale(1, 1);
    opacity: 1;
    top: -18px;

  }

  &:hover:after {
    top: 12px
  }
}


.singlePatternAnimation {
  svg {
    /*path{
      stroke-dashoffset: 770;
      stroke-dasharray: 770;
      -webkit-transition: all 2s ease;
      transition: all 2s ease;
    }*/
    .pageLoadSinglePattern {
      path {
        stroke-dashoffset: 0;
        -webkit-transition: all 2s ease;
        transition: all 2s ease;
      }
    }
  }

}

.container-fluid {
  padding: 0 50px !important;
}

.imgSlidePopUp > .modal-content > .modal-body {
  padding: 0 !important;
}